<section>
  <h2>Post Title</h2>
  <input class="form-input" type="text" id="post-title" name="post-title" value={{post.name}}/>
  <h4>Post Content</h4>
  <input class="form-input" type="text" id="post-title" name="post-title" value={{post.name}}/>
  <button class="btn btn-primary" id="save">Save Changes</button>
</section>

<script src="./js/edit.js"></script>